<header class="mt-5">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-center align-items-center">
    <ul class="navbar-nav">
      <li class="nav-item"><a href="/" class="nav-link <%= page === 'Principal' ? 'active' : '' %>">Principal</a></li>
      <li class="nav-item"><a href="/sobre" class="nav-link <%= page === 'Sobre' ? 'active' : '' %>">Sobre</a></li>
      <li class="nav-item"><a href="/contato" class="nav-link <%= page === 'Contato' ? 'active' : '' %>">Contato</a></li>
    </ul>
  </nav>
</header>